<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" routerLink="sede" data-bs-toggle="tab" role="tab" aria-controls="home"
      aria-selected="true">Sedes</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" routerLink="tarea" data-bs-toggle="tab" role="tab" aria-controls="profile"
      aria-selected="false">Tareas</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" routerLink="alumno" data-bs-toggle="tab" role="tab" aria-controls="profile"
      aria-selected="false">Alumnos</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" routerLink="curso" data-bs-toggle="tab" role="tab" aria-controls="profile"
      aria-selected="false">Cursos</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" routerLink="profesor" data-bs-toggle="tab" role="tab" aria-controls="profile"
      aria-selected="false">Profesores</a>
  </li>
</ul>
<router-outlet></router-outlet>
