<div class="container">
    <h3 class="text-center">Lista Cursos</h3>
    <a routerLink="/nuevo-curso">Nuevo curso</a> <br>
    <table class="table mt-5 table-hover ">
        <thead>
          <tr>
            <th scope="col">Código</th>
            <th scope="col">Nombre</th>
            <th scope="col">Créditos</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let row of listaCursos">
            <td>{{row.codigoCurso}}</td>
            <td>{{row.nombreCurso}}</td>
            <td>{{row.creditos}}</td>
          </tr>
        </tbody>
      </table>
</div>
<router-outlet></router-outlet>

